---
import CronGenerator from '../../components/CronGenerator.jsx';
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cron 表达式 - RuanTools</title>
  </head>
  <body>
    <CronGenerator client:load />
  </body>
</html>
