---
import HtmlEscape from '../../components/HtmlEscape.jsx';
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML 转义 - RuanTools</title>
  </head>
  <body>
    <HtmlEscape client:load />
  </body>
</html>
