---
import MorseCode from '../../components/MorseCode.jsx';
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>摩斯电码转换 - RuanTools</title>
  </head>
  <body>
    <MorseCode client:load />
  </body>
</html>
